<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="logIn(loginForm, $event)">

      <mat-form-field>

        <input matInput type="email" name="email"
                required email minlength="3" maxlength="20"
                [ngModel]="val.email"
                #email="ngModel"
               placeholder="Email">

          <mat-error *ngIf="email.errors?.required">The email is required.</mat-error>
          <mat-error *ngIf="email.errors?.minlength">The email must have at least {{email.errors?.minlength.requiredLength}} characters. You now have {{email.errors?.minlength.actualLength}}</mat-error>
          <mat-error *ngIf="email.errors?.email">This email is invalid.</mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" name="password"
              required passwordStrength
              [ngModel]="val.password" #password="ngModel"
              placeholder="Password">

        <mat-error *ngIf="password.errors?.passwordStrength">Your password must have uppercase, lowercase, and numberic characters.</mat-error>
        <mat-error *ngIf="password.errors?.required">The password is mandatory.</mat-error>

      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

    </form>
    {{loginForm.value | json}}
  </mat-card-content>
</mat-card>
